html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
html {
    font-family: 'Roboto Mono', monospace;
}

button{
  padding: .7rem 1.5rem;
  border-radius: 15px;
  font-size: 20px;
}

.programs{
  text-align: center;
}

h4{
  font-size: 25px;
  margin-top: -25px;
}

hr{
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.creator{
  margin: 15px;
  margin-left: 5px;
  text-align: center;
  display: block;
  font-family: sans-serif;
}

footer{
  height: 10vh;
  width: 100%;
  background-color: pink;
  font-size: 15px;
}

footer a{
  text-decoration: none;
  color: beige;
}

/*navbar*/
.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    margin-bottom: -11vh;
    background-color: white;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    font-size: 15px;
}


.menu a:hover{
  color: grey;
  cursor: pointer;
  transition-delay: .1s;
  transition-duration: .1s;
}

/*responsive navbar*/

@media only screen and (max-width: 670px) {

    .menu {
        width: 100%;
    }
    .menu a {
        display: inline;
    }

    .academy{
      padding-bottom: 70px;
    }
}

@media only screen and (max-width: 1024px) {
  .podcast{
    padding-bottom: 10vh;
  }

  .programs h4{
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 546px){
  .podcast{
    padding-top: 0;
    padding-bottom: 20vh;
  }

  .about{
    padding-bottom: 5vh;
  }
}



/* heading */

.heading{
  height: 100%;
  background-size: cover;
  text-align: center;
  background-image: url(2.jpeg);
  width: 100%;
  color: white;
  background-size: contain;
}

.heading h1{
  padding-top: 20%;
  font-size: 650%;
  margin-bottom: 0;
  margin-left: -5px;
}

.heading h4{
  padding-bottom: 10vh;
}

.heading h4, h3{
  font-size: 40px;
}

/*motiv*/

.motiv{
  text-align: center;
  margin: auto;
  display: block;
  width: 80%;
}

.motiv .description{
  width: 90%;
  margin: auto 7%;
  text-align: center;
}

/*green*/
.bcontainer{
  display: inline-flex;
  margin-bottom: 2%;
  margin-left: 2%;
  text-align: center;
}

.ccontainer{
  margin-left: 2%;
}

.icontainer img{
  width: 40vw;
  height: 50vh;
  border-radius: 200px;
}

.jheading h3, .cheading, .mheading{
  font-weight: 700;
  text-decoration-line:  underline;
  text-decoration-color: inherit;
  text-decoration-style: wavy;
}

/*join*/

.jheading{
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  background-image: url(seats.jpeg);
  width: 100%;
  color: white;
  margin-bottom: -10vh;
}

.jheading h3{
  padding-top: 20%;
  font-size: 550%;
  margin-bottom: 0;
  margin-left: -5px;
}

.jheading h4{
  padding-bottom: 10vh;
}

.jheading button{
  margin-top: 5%;
  padding: auto 10%;
  font-size: 50px;
  background-color: black;
  color: white;
  border: white 1px solid;
  margin-top: -.005rem;
}

.jheading button:hover{
  background-color: white;
  color: black;
  border: black 1px solid;
  transition-delay: .1s;
  transition-duration: .2s;
  cursor: pointer;
}

.jheading .link{
  text-decoration: none;
  color: blue;
  font-size: 500;
  background-color: white;
  border-radius: 15px;
  padding-bottom: .15rem;
  display: block;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;

}

.jheading .link:hover{
  color: white;
  background-color: blue;
  transition-delay: .1s;
  transition-duration: .2s;
  cursor: pointer;
}
